body {
    background-color: #123;
    padding-top: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: fit-content;
}

.board {
    width: calc(100vh - 240px);
    max-width: calc(100vw - 40px);
    display: grid;
    grid-gap: 0.5em;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
}

.board div {
    aspect-ratio: 1;
}

.card-outer {
    perspective: 1000px;
    /* height: calc((100vh - 290px) / 8);
    max-height: calc((100vw - 90px) / 8); */
}

.card {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.3s;
}

.card .frontside,
.card .backside {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.card .frontside img {
    max-width: 100%;
    height: auto;
    background-position: center;
}

.card .backside {
    background-color: #468;
    transform: rotateY(180deg);
}

.card-outer.flipped .card {
    transform: rotateY(0);
}

.card-outer.flipped.found .card {
    border: 5px solid greenyellow;
    box-shadow: inset 10px;
    box-sizing: border-box;
}

.stats {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

@media only screen and (max-width: 641px) {
    .board {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.2em;
        max-width: calc(100vw - 25px);
    }

    .card-outer.flipped.found .card {
        border: 2px solid greenyellow;
        box-shadow: inset 5px;
        box-sizing: border-box;
    }

    .text {
        font-size: 15px;
    }
}

@media only screen and (min-width: 642px) and (max-width: 820px) {
    .board {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.2em;
        max-width: calc(100vw - 190px);
    }

    .card-outer.flipped.found .card {
        border: 2px solid greenyellow;
        box-shadow: inset 5px;
        box-sizing: border-box;
    }

    .text {
        font-size: 15px;
    }
}